<body style="margin: 0;
padding: 0;
display: flex;
flex-direction: column;
min-height: 100vh;">
        <footer>
            <div class="footer" style="margin-top: 18px;">
                <div class="footer1" "><a href="">Help</a>
                    <a href="">About us</a></div>
                    <div class="footer2"><i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i></div>
                </div>
            </footer>
</body>
</html>
