<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-ribbon"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link" href="/listing">Explore</a>
      </div>
      <div class="searchbar navbar-nav">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destination" aria-label="Search">
          <button class="btn btn-search btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
    </div>
    
    <a class="anav nav-link" href="/listing/new">Airbnb your home</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if(!curUser){ %>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
      <a class="nav-link" href="/login"><b>Login</b></a>
      <% } %>
      <% if(curUser){ %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
    </div>
  </div>
  </nav>